.button {
    font: inherit;
    border: 2px solid rgba(0, 132, 255, 0.898);
    border-radius: 8px;
    background: rgba(0, 132, 255, 0.898);
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
}
